.listPanel{
    border: 2px;
    border-color: #4cae4c;
    max-height: 300px;
    overflow: hidden;   
    overflow-y: scroll;
}

.listPanelModal{
    border: 2px;
    border-color: #4cae4c;
    max-height: 300px;
    overflow: hidden;   
    overflow-y: scroll;
}

#map {
    width: 100%;
    height: 230px;
}

.labels {
    color: white;
    background-color: red;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    text-align: center;
    width: 10px;     
    white-space: nowrap;
}